.about__info p {
    color: #f9f9f9;
}

.h-500 {
    height: 500px !important;
}

.menus-active {
    background-color: rgba(52, 53, 60, 0.572);
    border-radius: 30px;
}

.menus-active span {
    color: #f9f9f9 !important;
}feBlend

.list-title , .text-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tst_content{
    height: 200px !important;
}

.h-400 {
    height: 300px;
}

.home-banner-style1 , .bw-100 {
    background-size: cover !important;
}
